<!doctype html>
{% extends 'professors/all-professors.html' %}
<html class="no-js" lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Courses | Kiaalap - Kiaalap Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
</head>

<body>
<!--[if lt IE 8]>

<![endif]-->
<!-- Start Left menu area -->

<!-- End Left menu area -->

<!-- Mobile Menu start -->


<!-- Mobile Menu end -->


{% block menu_center %}

    <div class="breadcome-area">
        <div class="container-fluid" style="margin-top: 30px">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcome-list">
                        <div class="row">
                            <button class="btn btn-lg btn-success"
                                    style="background-color: #00acee; margin-left: 1000px"><a title="Add Courses" style="color:white;"
                                                                                              href="{% url 'add_course' %}"><span
                                    class="mini-sub-pro">Добавить курс</span></a></button>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcome-heading">
                                    <form action="{% url 'all_courses' %}" method="GET">
                                        {{ search.as_p }}
                                        <button type="submit">Найти</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block content %}
    <form method="GET" action="{% url 'all_courses' %}">
        <div class="form-group">
            <label for="main_office">Главный офис</label>
            <select id="main_office" name="main_office" class="form-control" onchange="this.form.submit()">
                <option value="">Все</option>
                {% for office in main_offices %}
                    <option value="{{ office.id }}"
                            {% if office.id|stringformat:"s" == selected_main_office_id|stringformat:"s" %}selected{% endif %}>{{ office.name_main_office }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="branch">Филиал</label>
            <select id="branch" name="branch" class="form-control" onchange="this.form.submit()">
                <option value="">Все</option>
                {% for branch in branches %}
                    <option value="{{ branch.id }}"
                            {% if branch.id|stringformat:"s" == selected_branch_id|stringformat:"s" %}selected{% endif %}>{{ branch.name_branch }}</option>
                {% endfor %}
            </select>
        </div>
    </form>

    {% if course %}
        <div class="courses-area" style="padding-bottom:20px">
            <div class="container-fluid">
                <div class="row">
                    {% for course in course %}
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="courses-inner res-mg-b-30">
                                <div class="courses-title">
                                    <a href="#"><img src="{{ MEDIA_URL }}{{ course.img_course.url }}" alt=""></a>
                                    <h2><a href="{{ course.get_absolute_url }}">{{ course.name_course }}</a></h2>
                                </div>
                                <div class="course-des">
                                    <p><span><i class="fa fa-clock"></i></span> <b>Duration:</b> {{ course.duration }}
                                        Months</p>
                                    <p><span><i class="fa fa-clock"></i></span> <b>Price:</b> {{ course.price_course }}
                                        sum</p>
                                    <a href="{% url 'delete_course' course.id %}">
                                        <button type="button" class="btn btn-danger delete-button">Удалить</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="pagination">
            <div class="pagination-second">
                <span class="step-links">
                    {% if courses.has_previous %}
                        <a href="?page=1">&laquo;</a>
                        <a href="?page={{ courses.previous_page_number }}">‹</a>
                    {% endif %}

                    <span class="current">
                        Страница {{ courses.number }} из {{ courses.paginator.num_pages }}.
                    </span>

                    {% if courses.has_next %}
                        <a href="?page={{ courses.next_page_number }}">›</a>
                        <a href="?page={{ courses.paginator.num_pages }}">&raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    {% else %}
        <div>Ничего не найдено</div>
    {% endif %}
{% endblock %}




<!-- jquery
    ============================================ -->

<!-- tawk chat JS
    ============================================ -->

</body>

</html>