<!doctype html>
{% extends 'professors/all-professors.html' %}
<html class="no-js" lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Courses | Kiaalap - Kiaalap Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
</head>

<body>
<!--[if lt IE 8]>

<![endif]-->
<!-- Start Left menu area -->

<!-- End Left menu area -->

<!-- Mobile Menu start -->


<!-- Mobile Menu end -->


{% block menu_center %}

    <div class="breadcome-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcome-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcome-heading">
                                    <form action="{% url 'all_courses' %}" method="GET">
                                        {{ search.as_p }}
                                        <button type="submit">Найти</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <ul class="breadcome-menu">

                                    <li><span class="bread-blod">All Courses</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block content %}
    {% if search %}
        <div class="courses-area" style="padding-bottom:20px ">
            <div class="container-fluid">
                <div class="row">
                    {% for course in courses %}
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="courses-inner res-mg-b-30">
                                <div class="courses-title">
                                    <a href="#"><img src="{{ MEDIA_URL }}{{ course.img_course.url }}" alt=""></a>
                                    <h2><a href="{{ course.get_absolute_url }}">{{ course.name_course }}</a></h2>
                                </div>

                                <div class="course-des">
                                    <p><span><i class="fa fa-clock"></i></span> <b>Duration:</b> {{ course.duration }}
                                        Months</p>
                                    <p><span><i class="fa fa-clock"></i></span> <b>Price:</b> {{ course.price_course }}
                                        sum
                                    </p>
                                    <a href="{% url 'delete_course' course.id %}">
                                        <button type="button" class="btn btn-danger delete-button">
                                            Удалить
                                        </button>
                                    </a>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="pagination">
            <div class="pagination-second">
            <span class="step-links">
                {% if courses.has_previous %}
                    <a href="?page=1">&laquo;</a>
                    <a href="?page={{ courses.previous_page_number }}">‹</a>
                {% endif %}

                <span class="current">
                    Page {{ courses.number }} of {{ courses.paginator.num_pages }}.
                </span>

                {% if courses.has_next %}
                    <a href="?page={{ courses.next_page_number }}">›</a>
                    <a href="?page={{ courses.paginator.num_pages }}">&raquo;</a>
                {% endif %}
            </span>
            </div>
        </div>

    {% else %}
        <h2>Ничего не найдено</h2>

    {% endif %}
{% endblock %}



<!-- jquery
    ============================================ -->

<!-- tawk chat JS
    ============================================ -->

</body>

</html>