{% extends 'professors/all-professors.html' %}
{% load static %}

{% block menu_center %}

{% endblock %}
{% block content %}
    <div class="page-wrapper">
        <div style="margin: 10px;">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <p>{{ group_form.non_field_errors }}</p>
                    <p>{{ group_form.name_group.label_tag }} {{ group_form.name_group }}</p>
                    <p>{{ group_form.start_date.label_tag }} {{ group_form.start_date }}</p>
                    <p>{{ group_form.end_date.label_tag }} {{ group_form.end_date }}</p>
                    <p>{{ group_form.teacher_id.label_tag }} {{ group_form.teacher_id }}</p>
                    <p>{{ group_form.audience_id.label_tag }} {{ group_form.audience_id }}</p>
                    <p>{{ group_form.status_group.label_tag }} {{ group_form.status_group }}</p>
                    <p>{{ group_form.course_id.label_tag }} {{ group_form.course_id }}</p>
                    <p>{{ group_form.branch.label_tag }} {{ group_form.branch }}</p>
                </div>
                <div class="form-group">
                    <label for="students_id">Студенты</label>
                    <div style="max-height: 150px; overflow-y: scroll; border: 1px solid #ccc; padding: 10px;">
                        {{ group_form.students_id }}
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-success">Добавить</button>
            </form>
        </div>
    </div>
{% endblock %}
