{% extends 'professors/all-professors.html' %}
{% load static %}

{% block menu_center %}
{% endblock %}

{% block content %}
    <div class="page-wrapper" style="margin-top: 60px">
        <div style="margin: 10px;">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ group_form.non_field_errors }}
                    {{ group_form.name_group.label_tag }} {{ group_form.name_group }}
                    {{ group_form.start_date.label_tag }} {{ group_form.start_date }}
                    {{ group_form.end_date.label_tag }} {{ group_form.end_date }}
                    {{ group_form.start_time.label_tag }} {{ group_form.start_time }}
                    {{ group_form.end_time.label_tag }} {{ group_form.end_time }}
                    {{ group_form.lesson_days.label_tag }} {{ group_form.lesson_days }}
                    {{ group_form.teacher_id.label_tag }} {{ group_form.teacher_id }}
                    {{ group_form.audience_id.label_tag }} {{ group_form.audience_id }}
                    {{ group_form.status_group.label_tag }} {{ group_form.status_group }}
                    {{ group_form.branch.label_tag }} {{ group_form.branch }}
                    {{ group_form.course_id.label_tag }} {{ group_form.course_id }}
                </div>
                <div class="form-group">
                    <label for="students_id">Студенты в группе:</label>
                    <div style="max-height: 150px; overflow-y: scroll; border: 1px solid #ccc; padding: 10px;">
                        <ul>
                            {% for student in students_in_group %}
                                <li>
                                    {{ student.first_name_s }} {{ student.last_name_s }}
                                    <input type="checkbox" name="students_to_remove" value="{{ student.id }}"> Удалить
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-success">Сохранить</button>
            </form>
        </div>
    </div>
{% endblock %}
