{% extends 'teachers-group/teachers_group.html' %}
{% load static %}
{#{% block Left_Menu %}#}
{#    {% for branch in branch %}#}
{#        <a href="{% url 'main_page' %}"><img class="main-logo" style="height:70px;width: 170px "#}
{#                                             src="{{ branch.logo_branch.url }}"#}
{#                                             alt=""/></a>#}
{#        <strong><a href="{% url 'main_page' %}"><img style="height:50px;width: 50px "#}
{#                                                     src="{{ branch.short_logo_branch.url }}"#}
{#                                                     alt=""/></a></strong>#}
{#    {% endfor %}#}
{#{% endblock %}#}
{% block content %}
    <div class="container-fluid" style="margin-top: 60px">
        <form method="post" action="{% url 'mark_attendance' group.id %}">
            {% csrf_token %}
            <input type="date" name="date_attendance" required>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Телефон Номер</th>
                    <th>Телефон родителей</th>
                </tr>
                </thead>
                <tbody>
                {% for student in group.students_id.all %}
                    <tr>
                        <td>{{ student.first_name_s }}</td>
                        <td>{{ student.last_name_s }}</td>
                        <td>{{ student.phone_number_s }}</td>
                        <td>{{ student.parents_phone_number }}</td>

                        <td>
                            <label><input type="checkbox" name="student_{{ student.id }}"> Отсутствует</label>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Сохранить посещаемость</button>
        </form>
    </div>

{% endblock %}