{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid" style="margin-top: 30px">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-10">
                    <div class="panel-body custom-panel-jw">
                        <h1>Список аудиторий</h1>
                        <form method="GET" action="{% url 'all_audience' %}">
                            <div class="form-group">
                                <label for="main_office">Главный офис</label>
                                <select id="main_office" name="main_office" class="form-control" onchange="this.form.submit()">
                                    <option value="">Все</option>
                                    {% for office in main_offices %}
                                        <option value="{{ office.id }}"
                                                {% if office.id|stringformat:"s" == selected_main_office_id|stringformat:"s" %}selected{% endif %}>
                                            {{ office.name_main_office }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="branch">Филиал</label>
                                <select id="branch" name="branch" class="form-control" onchange="this.form.submit()">
                                    <option value="">Все</option>
                                    {% for branch in branches %}
                                        <option value="{{ branch.id }}"
                                                {% if branch.id|stringformat:"s" == selected_branch_id|stringformat:"s" %}selected{% endif %}>
                                            {{ branch.name_branch }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                        <table class="table table-striped" style="margin-top: 10px;">
                            <thead>
                            <tr>
                                <th>Номер аудитории</th>
                                <th>Вместимость</th>
                                <th>Действие</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for aud in audience %}
                                <tr>
                                    <td><a href="{{ aud.get_absolute_url }}" style="color: #0a6aa1">{{ aud.number_audience }}</a></td>
                                    <td>{{ aud.capacity }}</td>
                                    <td><a href="{% url 'delete_audience' aud.id %}" class="btn btn-danger">Удалить</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
